config GPU_MALI
	tristate "Mali GPUs support"
	depends on ARM
	default y if ARCH_S40
	default n if ARCH_GODBOX
	select DMA_SHARED_BUFFER
	---help---
	  This enables support for the ARM mali GPUs.

if GPU_MALI
source "drivers/gpu/arm/mali/Kconfig"
endif
